header{
  width: 800px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
}
h1{
  font-family: 'Abril Fatface', cursive;
  color: #222000;
 }
img{
 width: 100%;
  position: relative;
}
.title{
  position: relative;
  bottom: 100px;
  left: 190px;
}
h2, .title h1{
   margin: 0px;
}
h2{
  font-size:17px;
}
main{
  width: 500px;
  margin: 0 auto;
}
.first_s{
  
  margin: 10px;
}
p, ul{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #222;
  margin-bottom: 40px;
}
span{
   font-weight: bold;
}

h4 {font-family: 'Josefin Sans', sans-serif;
  font-size:20px;
            padding: 0px;
  margin: 0px;
  
}
h5 {font-family: 'Merriweather', serif;
font-size:15px;
padding: 0px;
  margin: 0px;
 
}
.quote::before{
  
  content: '”';
  color: white;
  font-size: 80px;
  font-family: 'Abril Fatface';
  position: absolute;
  top: -20px;
  left: 0px;
}
.quote{
  width: 550px;
  margin: 0 auto;
  position: relative;
  background: #222;
}
.quote h1{
  position: relative;
  font-family: 'Abril Fatface', cursive;
  color: white;
  padding:30px;
  border: 1px solid white;
}
h3{
  font-family: 'Josefin Sans';
   text-transform: uppercase;
  line-height: 200%;}
  footer{
    padding-top:  20px;
    border-top: solid black 4px;
  }